<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Каталог товаров для главной страницы</h1>
<% @products.each do |product| %>

	<div class="box">
		<h3><%= product.title %></h3>
		<div class="img"><%= image_tag(product.image_url) %></div>
		<div class="info"><%= sanitize(product.description) %>
			<div class="price_line">
				<span class="price"><%= number_with_precision(product.price, precision: 0) %>руб</span>
				<%= button_to t('.add_html'), line_items_path(product_id: product) %>
			</div>
		</div>
	</div>
<% end %>
