<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
  <title>Продаём и доставляем суши</title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<!-- END:head -->
<body class="<%= controller.controller_name %>">
    <div class="container">
      <h1><div class="img"><%= image_tag('logo.jpg') %></div>Eat & Delivery</h1>
      <hr>
      <h2 class="alt">Прием заказов. Обработка. Передача курьерской службе.</h2>
      <hr>
      <hr class="space">
      <div class="span-15 prepend-1 colborder">
        <p><%= yield %></p>
        <hr>
        <div class="span-7 colborder">
          <h6>Цель проекта -</h6>
          <p>обеспечить своим пользователям наилучшие условия для быстрого, удобного и выгодного осуществления заказов.</p>
        </div>
        <div class="span-7 last">
          <h6>Схема приложения:</h6>
          <p>Агрегатор заказов получает заказы через сайт. Терминал в ресторане или кафе получает заказ, делает приготовления и далее передает заказ курьерским службам.</p>
        </div>
      </div>
      <div class="span-7 last">
        <h3>Простая <span class="alt">Навигация </span> по сайту</h3>
        <p>      <ul>
					<li><a href="http://tnebo.ru:3000" alt=""><%= t('.home') %></a></li>
          <% if session[:user_id] %>
              <ul>
                <li><%= link_to 'Orders',   orders_path   %></li>
                <li><%= link_to 'Products', products_path %></li>
                <li><%= link_to 'Users',    users_path    %></li>
              </ul>
              <%= button_to 'Logout', logout_path, method: :delete   %>
          <% end %>
				</ul>
		</p>
      </div>
      <hr>
      <h2 class="alt">Не откладывай до ужина того, что можешь съесть за обедом.</h2>
      <hr>
    </div>
  </body>
</body>
</html>

